* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Turret Road", cursive;
}

body {
  background: #1b1b1e;
  color: #fbfffe;
  width: 100%;
}

main {
  z-index: 2;
  min-height: 100vh;
}

.header {
  height: 100px;
  background: rgba(244, 117, 33, 0.85);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Turret Road", cursive;
}

.color-guess {
  margin-top: 8px;
}

.guess-number {
  text-shadow: 2px 2px #2c3e50;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 13%;
  margin-top: -10px;
}

.boxes {
  background: linear-gradient(36deg, #ccffff, #ffffcc);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.fade-down {
  animation: fadeDown 0.5s ease-out;
  animation-fill-mode: forwards;
  display: block;
}

.scale-out {
  animation: scaleOut 1s ease !important;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal !important;
}

.processing-overlay {
  position: fixed;
  text-align: center;
  width: 140%;
  height: 100%;
  top: 0;
  left: -20%;
  right: 0;
  bottom: 0;
  background-color: rgba(65, 35, 241, 0.9);
  z-index: 2;
  display: none;
  animation: opacity 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.show-message {
  opacity: 1 !important;
  display: block;
}

.processing {
  font-size: 120px;
  height: 120px;
  line-height: 110px;
  color: #ecf0f1;
  top: 50%;
  margin-top: -120px;
  text-shadow: 2px 2px #2c3e50;
  background: rgba(255, 255, 255, 0.2);
  padding: 30px 0;
  position: absolute;
  width: 100%;
}

.message {
  font-size: 120px;
  line-height: 110px;
  color: #ecf0f1;
  text-shadow: 2px 2px #2c3e50;
  background: rgba(255, 255, 255, 0.2);
  padding: 30px 0;
  width: 100%;
  font-family: "Turret Road", cursive;
}

.remaining-guess {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0 24px;
  margin-top: 15px;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 100px);
  justify-content: center;
}

.game-over > button {
  width: 200px;
  padding: 12px;
  margin-top: 32px;
  border-radius: 8px;
  font-size: 28px;
  transition: 0.5s;
  outline: none;
}

.game-over > button:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.game-over {
  display: none;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

.startup {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-box {
  width: 250px;
  height: 250px;
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: 0.5s;
  border-radius: 5%;
  margin: 15px;
}
.level-box:nth-child(1) {
  background: linear-gradient(to bottom, #329932 60%, #236b23);
  transition: 0.5s;
  opacity: 0.75;
}
.level-box:nth-child(2) {
  background: linear-gradient(to bottom, #383988 60%, #383961);
  transition: 0.5s;
  opacity: 0.75;
}
.level-box:nth-child(3) {
  background: linear-gradient(to bottom, #ff473c 60%, #cc3830);
  transition: 0.5s;
  opacity: 0.75;
}
.level-box:hover {
  opacity: 1;
}

.message-score {
  font-size: 26px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .container {
    min-height: calc(100vh - 194px);
  }

  .startup {
    margin: 30px 0;
  }

  .header {
    height: 100%;
  }

  .boxes {
    width: 180px;
    height: 180px;
  }
}
@keyframes scaleOut {
  0% {
    transform: scale(1.5);
    opacity: 1;
  }
  60% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes fadeDown {
  from {
    opacity: 0.5;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
