* {
  margin: 0;
  font-family: "Turret Road", cursive;
}

body {
  background: rgba(35, 66, 66, 0.9);
  color: white;
  width: 100%;
}

main {
  z-index: 2;
}

.header {
  height: 100px;
  background: rgba(34, 34, 34, 0.6);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Turret Road", cursive;
}

.color-guess {
  margin-top: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 13%;
}

.boxes {
  background: linear-gradient(36deg, #ccffff, #ffffcc);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.fade-down {
  animation: fadeDown 0.5s ease-out;
  animation-fill-mode: forwards;
  display: block;
}

.scale-out {
  animation: scaleOut 1s ease !important;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal !important;
}

.processing-overlay {
  position: fixed;
  text-align: center;
  width: 140%;
  height: 100%;
  top: 0;
  left: -20%;
  right: 0;
  bottom: 0;
  background-color: rgba(65, 35, 241, 0.9);
  z-index: 2;
  display: none;
  animation: opacity 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.show-message {
  opacity: 1 !important;
  display: block;
}

.processing {
  font-size: 120px;
  height: 120px;
  line-height: 110px;
  color: #ecf0f1;
  top: 50%;
  margin-top: -120px;
  text-shadow: 2px 2px #2c3e50;
  background: hsla(0, 0%, 100%, 0.2);
  padding: 30px 0;
  position: absolute;
  width: 100%;
}

.message {
  font-size: 120px;
  height: 120px;
  line-height: 110px;
  color: #ecf0f1;
  margin-top: 10%;
  text-shadow: 2px 2px #2c3e50;
  background: hsla(0, 0%, 100%, 0.2);
  padding: 30px 0;
  width: 100%;
  font-family: "Turret Road", cursive;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over > button {
  width: 200px;
  padding: 12px;
  margin-top: 32px;
  border-radius: 8px;
  font-size: 28px;
  transition: 0.5s;
  outline: none;
}

.game-over > button:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.game-over {
  display: none;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 20px;
  }
  .header {
    height: 100%;
  }
  .boxes {
    width: 180px;
    height: 180px;
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1.5);
    opacity: 1;
  }
  60% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0.5;
  }

  to {
    transform: translateY(100px);
    opacity: 0;
    display: none !important;
  }
}
